In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.arange(100).reshape(10,10))
df.columns = "a b c d e f g h i j".split()
df

    a   b   c   d   e   f   g   h   i   j
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
3  30  31  32  33  34  35  36  37  38  39
4  40  41  42  43  44  45  46  47  48  49
5  50  51  52  53  54  55  56  57  58  59
6  60  61  62  63  64  65  66  67  68  69
7  70  71  72  73  74  75  76  77  78  79
8  80  81  82  83  84  85  86  87  88  89
9  90  91  92  93  94  95  96  97  98  99

### How do I get the mean of all the columns after 'c'?

In [4]:
df.ix[:,'c':].mean()

c    47
d    48
e    49
f    50
g    51
h    52
i    53
j    54
dtype: float64

### How do I get the largest mean?

In [5]:
df.ix[:,'c':].mean().max()

54.0

### How do find out _which_ column has the highest mean?

In [6]:
df.ix[:,'c':].mean().argmax()

'j'