In [15]:
import numpy as np
import pandas as pd

# Datatype, Data Structures which hold data in Python

## List

tv_shows = ['Game of Thrones', 'Hannibal', 'Mad Man']

## Array
tv_shows_a = np.array(tv_shows)

In [4]:
for show in tv_shows:
    print show

Game of Thrones
Hannibal
Mad Man

In [7]:
for fn in dir(tv_shows):
    if '__' not in fn:
        print fn

append
count
extend
index
insert
pop
remove
reverse
sort

In [8]:
for fn in dir(tv_shows):
    if '__' in fn:
        print fn

__add__
__class__
__contains__
__delattr__
__delitem__
__delslice__
__doc__
__eq__
__format__
__ge__
__getattribute__
__getitem__
__getslice__
__gt__
__hash__
__iadd__
__imul__
__init__
__iter__
__le__
__len__
__lt__
__mul__
__ne__
__new__
__reduce__
__reduce_ex__
__repr__
__reversed__
__rmul__
__setattr__
__setitem__
__setslice__
__sizeof__
__str__
__subclasshook__

In [14]:
tv_shows.__doc__

"list() -> new empty list\nlist(iterable) -> new list initialized from iterable's items"

In [16]:
for fn in dir(tv_shows_a):
    if '__' not in fn:
        print fn

T
all
any
argmax
argmin
argpartition
argsort
astype
base
byteswap
choose
clip
compress
conj
conjugate
copy
ctypes
cumprod
cumsum
data
diagonal
dot
dtype
dump
dumps
fill
flags
flat
flatten
getfield
imag
item
itemset
itemsize
max
mean
min
nbytes
ndim
newbyteorder
nonzero
partition
prod
ptp
put
ravel
real
repeat
reshape
resize
round
searchsorted
setfield
setflags
shape
size
sort
squeeze
std
strides
sum
swapaxes
take
tobytes
tofile
tolist
tostring
trace
transpose
var
view

In [20]:
np.array([True,True,False]).tolist()

[True, True, False]

In [47]:
df_funcs = []
for fn in dir(df_tv_shows):
    if '_' not in fn[0]:
        df_funcs.append(fn)

In [48]:
series_funcs = []
for fn in dir(df_tv_shows.show):
    if '_' not in fn[0]:
        series_funcs.append(fn)

### Unique to Dataframes

In [53]:
set(df_funcs).difference(series_funcs)

{'applymap',
 'assign',
 'boxplot',
 'columns',
 'combineAdd',
 'combineMult',
 'corrwith',
 'eval',
 'from_dict',
 'from_items',
 'from_records',
 'icol',
 'info',
 'insert',
 'iterrows',
 'itertuples',
 'join',
 'lookup',
 'memory_usage',
 'merge',
 'pivot',
 'pivot_table',
 'query',
 'select_dtypes',
 'set_index',
 'show',
 'stack',
 'to_excel',
 'to_gbq',
 'to_html',
 'to_latex',
 'to_panel',
 'to_records',
 'to_stata',
 'to_wide'}

### Unique to Series

In [54]:
set(series_funcs).difference(df_funcs)

{'argmax',
 'argmin',
 'argsort',
 'asof',
 'autocorr',
 'base',
 'between',
 'compress',
 'data',
 'dtype',
 'factorize',
 'flags',
 'from_array',
 'ftype',
 'hasnans',
 'iget',
 'imag',
 'is_time_series',
 'item',
 'itemsize',
 'map',
 'nbytes',
 'nlargest',
 'nonzero',
 'nsmallest',
 'nunique',
 'order',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'round',
 'searchsorted',
 'str',
 'strides',
 'to_frame',
 'tolist',
 'unique',
 'valid',
 'value_counts',
 'view'}

In [32]:
## Dataframe
df_tv_shows = pd.DataFrame(tv_shows)
df_tv_shows.columns = ['show']

In [34]:
df_tv_shows.index = ['watched','To Watch','Wont Watch']
df_tv_shows

                       show
watched     Game of Thrones
To Watch           Hannibal
Wont Watch          Mad Man

In [36]:
df_tv_shows.show.shape

(3,)

In [37]:
## Series

df_tv_shows.show


# Don't worry about these... they are mathematical concepts

## Matrix
## Vector

watched       Game of Thrones
To Watch             Hannibal
Wont Watch            Mad Man
Name: show, dtype: object

In [41]:
dir(df_tv_shows.show

Game of Thrones    1
Hannibal           1
Mad Man            1
dtype: int64

In [39]:
df_tv_shows.show.values

array(['Game of Thrones', 'Hannibal', 'Mad Man'], dtype=object)

In [38]:
df_tv_shows.show.tolist()

['Game of Thrones', 'Hannibal', 'Mad Man']