# Dropping Features

In [1]:
import pandas as pd

In [2]:
feat = "A B C D".split()
drop_feat = ['A','D']

In [3]:
df = pd.DataFrame([range(4),range(4),range(4),range(4)], columns=feat)

In [4]:
df

   A  B  C  D
0  0  1  2  3
1  0  1  2  3
2  0  1  2  3
3  0  1  2  3

In [5]:
df.columns.difference(drop_feat)

Index([u'B', u'C'], dtype='object')

In [6]:
df = df[df.columns.difference(drop_feat)]

In [7]:
df

   B  C
0  1  2
1  1  2
2  1  2
3  1  2

## OR

In [8]:
df = pd.DataFrame([range(4),range(4),range(4),range(4)], columns="A B C D".split())

In [9]:
df.drop(drop_feat, axis=1, inplace=True)

In [10]:
df

   B  C
0  1  2
1  1  2
2  1  2
3  1  2