# Converting categorical data into numbers with Pandas

In [1]:
import pandas as pd

In [7]:
data = ['red','red','blue','green','red']
df = pd.DataFrame(data, columns=['colour'])

In [8]:
df

  colour
0    red
1    red
2   blue
3  green
4    red

In [14]:
uniques = list(df.colour.unique())
df.colour.apply(lambda x: uniques.index(x))

0    0
1    0
2    1
3    2
4    0
Name: colour, dtype: int64

For a more detailed reading see [fastml](http://fastml.com/converting-categorical-data-into-numbers-with-pandas-and-scikit-learn/)