In [46]:
%%javascript

window.load_remote_theme = false
var theme_url = "https://drostehk.github.io/ipynb-theme/";
var asset_url = 'https://raw.githubusercontent.com/tijptjik/DS_assets/master/';

window.load_local_theme = function(){
    var hostname = document.location.hostname
    return ((hostname == "localhost" || hostname == '127.0.0.1') && !load_remote_theme)
}

var url = load_local_theme() ? document.location.origin + "/files/theme/custom.js" : theme_url + 'custom.js'

$.getScript(url)

# Pandas Practice Book

## Pandas Workshop

For most applications where data volumes are managable, _pandas dataframes_ offer functionalities similar to SQL. So let's see how we can use Pandas to splice and dice our data.

A `DataFrame` is a tabular data structure, encapsulating multiple series like columns in a spreadsheet. Data are stored internally as a 2-dimensional object, but the `DataFrame` allows us to represent and manipulate higher-dimensional data.

In [14]:
%matplotlib inline
import pandas as pd
import numpy as np

# Set some Pandas options
pd.set_option('max_columns', 30)
pd.set_option('max_rows', 20)

# Store data in a consistent place

DATA_DIR = '../../data/'

In [16]:
# Import the Aggregated NTY data we built up in Lesson 3.

df = pd.read_csv(DATA_DIR + 'nytimes.csv')

In [53]:
df[:10]

   Age  Gender  Impressions  Clicks  Signed_In
0   36       0            3       0          1
1   73       1            3       0          1
2   30       0            3       0          1
3   49       1            3       0          1
4   47       1           11       0          1
5   47       0           11       1          1
6    0       0            7       1          0
7   46       0            5       0          1
8   16       0            3       0          1
9   52       0            4       0          1

### Axis labels

The tabular data has both a primary `index` for rows, and a secondary index for `columns`

In [8]:
df.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...], dtype='int64')

In [9]:
df.columns

Index([u'Age', u'Gender', u'Impressions', u'Clicks', u'Signed_In'], dtype='object')

You can rename the columns by either writing directly to the `columns` property or using the built in `rename()` method.

In [10]:
df.columns = [u'ERROR', u'Gender', u'Impressions', u'Clicks', u'Signed_In']
df.columns

Index([u'ERROR', u'Gender', u'Impressions', u'Clicks', u'Signed_In'], dtype='object')

In [11]:
df.rename(columns={'ERROR':'Age'}, inplace=True)
df.columns

Index([u'Age', u'Gender', u'Impressions', u'Clicks', u'Signed_In'], dtype='object')

If we wish to access columns, we can do so either by dict-like indexing or by attribute:

### Accessing Data

In [56]:
df['Age']

0    36
1    73
2    30
3    49
4    47
5    47
6     0
7    46
...
458433    21
458434    61
458435    51
458436     0
458437     0
458438    72
458439     0
458440     0
Name: Age, Length: 458441, dtype: int64

In [58]:
df[['Age']]

        Age
0        36
1        73
2        30
3        49
4        47
5        47
6         0
7        46
8        16
9        52
...     ...
458431   21
458432   30
458433   21
458434   61
458435   51
458436    0
458437    0
458438   72
458439    0
458440    0

[458441 rows x 1 columns]

In [22]:
df.Age

0    36
1    73
2    30
3    49
4    47
5    47
6     0
7    46
...
458433    21
458434    61
458435    51
458436     0
458437     0
458438    72
458439     0
458440     0
Name: Age, Length: 458441, dtype: int64

While these may look the same on the surface, when accessed with the dotnation or single brackets, the columns in Pandas DataFrames returns a `Series` - another Pandas datatype. When using the double bracket notation it will just return another `DataFrame`.

In [19]:
type(df['Age'])

pandas.core.series.Series

In [21]:
type(df[['Age']])

pandas.core.frame.DataFrame

In [20]:
type(df.Age)

pandas.core.series.Series

This difference means that than with `Series`, we can use dict-like indexing to retrieve a particular element (row). But if we want access to a row in a `DataFrame`, we retrieve an index using its `ix` attribute.

In [25]:
df.Age[3]

49

In [28]:
df['Age'][3]

49

In [38]:
try:
    df[['Age']][3]
except KeyError, e:
    print 'KeyError', e

KeyError 3

In [24]:
df[['Age']].ix[3]

Age    49
Name: 3, dtype: int64

In [39]:
# This doesn't retrieves the third row,
# instead it tries to find the column with the label
try:
    df[3]
except KeyError,e:
    print 'KeyError', e

KeyError 3

### Dataframe are _views_, not _copies_.

Its important to note that the Series returned when a DataFrame is indexed is merely a **view** on the DataFrame, and not a copy of the data itself. So you must be cautious when manipulating this data:

In [10]:
ages = df.Age
ages

0    49
1    73
2    30
3    49
4    47
5    47
6     0
7    46
...
14905857    61
14905858    16
14905859    18
14905860    41
14905861     0
14905862    22
14905863    59
14905864    29
Name: Age, Length: 14905865, dtype: int64

In [11]:
ages[:10] = 0
ages

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
...
14905857    61
14905858    16
14905859    18
14905860    41
14905861     0
14905862    22
14905863    59
14905864    29
Name: Age, Length: 14905865, dtype: int64

In [21]:
df.Age

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
...
14905857    61
14905858    16
14905859    18
14905860    41
14905861     0
14905862    22
14905863    59
14905864    29
Name: Age, Length: 14905865, dtype: int64

If you wanted to avoid creating a view and would instead prefer to **copy** the data out, the `copy()` method is your friend.

In [8]:
ages = df.Age.copy()
ages[:10] = range(10)
ages

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
...
14905857    61
14905858    16
14905859    18
14905860    41
14905861     0
14905862    22
14905863    59
14905864    29
Name: Age, Length: 14905865, dtype: int64

In [23]:
df.Age

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
...
14905857    61
14905858    16
14905859    18
14905860    41
14905861     0
14905862    22
14905863    59
14905864    29
Name: Age, Length: 14905865, dtype: int64

### Appending Data

We can create or modify columns by assignment

In [12]:
df['Age'][0] = 49
ages

0    49
1     0
2     0
3     0
4     0
5     0
6     0
7     0
...
14905857    61
14905858    16
14905859    18
14905860    41
14905861     0
14905862    22
14905863    59
14905864    29
Name: Age, Length: 14905865, dtype: int64

In [15]:
df['site'] = 'NYT'
df

    Age  Gender  Impressions  Clicks  Signed_In site
0    36       0            3       0          1  NYT
1    73       1            3       0          1  NYT
2    30       0            3       0          1  NYT
3    49       1            3       0          1  NYT
4    47       1           11       0          1  NYT
5    47       0           11       1          1  NYT
6     0       0            7       1          0  NYT
7    46       0            5       0          1  NYT
8    16       0            3       0          1  NYT
9    52       0            4       0          1  NYT
10    0       0            8       1          0  NYT
11   21       0            3       0          1  NYT
12    0       0            4       0          0  NYT
13   57       0            6       0          1  NYT
14   31       0            5       0          1  NYT
15    0       0            6       0          0  NYT
16   40       1            3       0          1  NYT
17   31       1            5       0          1  NYT
18   38       0            4       0          1  NYT
19    0       0            5       0          0  NYT
    ...     ...          ...     ...        ...  ...

[14905865 rows x 6 columns]

But note, we cannot use the attribute indexing method to add a new column:

In [16]:
df.month = 'may'
df.month

'may'

Other Python data structures (ones without an index) need to be the same length as the `DataFrame`:

In [43]:
month = ['Jan', 'Feb', 'Mar', 'Apr']
try:
    df['month'] = month
except ValueError,e:
    print 'ValueError:', e

ValueError: Length of values does not match length of index

We can extract the underlying data as a simple `ndarray` by accessing the `values` attribute:

In [61]:
df.values

array([[36,  0,  3,  0,  1],
       [73,  1,  3,  0,  1],
       [30,  0,  3,  0,  1],
       ...,
       [72,  1,  5,  0,  1],
       [ 0,  0,  5,  0,  0],
       [ 0,  0,  3,  0,  0]])

Notice that because of the mix of strings and integer values, the dtype of the array is object. The dtype will automatically be chosen to be as general as needed to accomodate all the columns.

In [16]:
df.values.dtype

dtype('int64')

### Indexing and Selection

Indexing works analogously to indexing in NumPy arrays, except we can use the labels in the `Index` object to extract values in addition to arrays of integers. Let's use some baseball data to exemplify.

In [44]:
!curl https://raw.githubusercontent.com/fonnesbeck/pytenn2014_tutorial/master/data/baseball.csv > {DATA_DIR}baseball.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  8767  100  8767    0     0   5235      0  0:00:01  0:00:01 --:--:--  5237

In [45]:
baseball = pd.read_csv(DATA_DIR + 'baseball.csv', index_col='id')
baseball

,player,year,stint,team,lg,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,0,1,2,1,1,4,4,0,0,3,0,0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,0,0,0,0,0,0,4,0,0,0,0,0
88652,finlest01,2006,1,SFN,NL,139,426,66,105,21,12,6,40,7,0,46,55,2,2,3,4,6
88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,52,2,15,73,0,1,69,58,10,7,0,6,14
88662,seleaa01,2006,1,LAN,NL,28,26,2,5,1,0,0,0,0,0,1,7,0,0,6,0,1
89177,francju01,2007,2,ATL,NL,15,40,1,10,3,0,0,8,0,0,4,10,1,0,0,1,1
89178,francju01,2007,1,NYN,NL,40,50,7,10,0,0,1,8,2,1,10,13,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89499,claytro01,2007,1,TOR,AL,69,189,23,48,14,0,1,12,2,1,14,50,0,1,3,3,8
89501,cirilje01,2007,2,ARI,NL,28,40,6,8,4,0,0,6,0,0,4,6,0,0,0,0,1
89502,cirilje01,2007,1,MIN,AL,50,153,18,40,9,2,2,21,2,0,15,13,0,1,3,2,9
89521,bondsba01,2007,1,SFN,NL,126,340,75,94,14,0,28,66,5,0,132,54,43,3,0,2,13
89523,biggicr01,2007,1,HOU,NL,141,517,68,130,31,3,10,50,4,3,23,112,0,3,7,5,5
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,3,3,25,6,1,37,74,3,6,4,1,11
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,1,13,49,3,0,27,30,5,2,0,3,13
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,0,0,0,0,0,0,3,0,0,0,0,0

We could have easily chosen our own index label, by combining the playerID with the year they were active in

In [20]:
baseball.player

id
88641    womacto01
88643    schilcu01
88645    myersmi01
88649    helliri01
88650    johnsra05
88652    finlest01
88653    gonzalu01
88662     seleaa01
...
89502    cirilje01
89521    bondsba01
89523    biggicr01
89525    benitar01
89526    benitar01
89530    ausmubr01
89533     aloumo01
89534    alomasa02
Name: player, Length: 100, dtype: object

In [70]:
baseball.player + '_' + baseball.year.astype(str)

id
88641    womacto01_2006
88643    schilcu01_2006
88645    myersmi01_2006
88649    helliri01_2006
88650    johnsra05_2006
88652    finlest01_2006
88653    gonzalu01_2006
88662     seleaa01_2006
...
89502    cirilje01_2007
89521    bondsba01_2007
89523    biggicr01_2007
89525    benitar01_2007
89526    benitar01_2007
89530    ausmubr01_2007
89533     aloumo01_2007
89534    alomasa02_2007
Length: 100, dtype: object

In [25]:
baseball.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,0,1,2,1,1,4,4,0,0,3,0,0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,0,0,0,0,0,0,4,0,0,0,0,0

In [24]:
player_id = baseball.player + baseball.year.astype(str)
baseball_x = baseball.copy()
baseball_x.index = player_id
baseball_x.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
womacto012006,womacto01,2006,2,CHN,NL,19,50,6,14,1,0,1,2,1,1,4,4,0,0,3,0,0
schilcu012006,schilcu01,2006,1,BOS,AL,31,2,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
myersmi012006,myersmi01,2006,1,NYA,AL,62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
helliri012006,helliri01,2006,1,MIL,NL,20,3,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0
johnsra052006,johnsra05,2006,1,NYA,AL,33,6,0,1,0,0,0,0,0,0,0,4,0,0,0,0,0

In [26]:
# We can then use the label to access a record
baseball_x.ix['aloumo012007']

player    aloumo01
year          2007
stint            1
team           NYN
lg              NL
g               87
ab             328
r               51
...
cs       0
bb      27
so      30
ibb      5
hbp      2
sh       0
sf       3
gidp    13
Name: aloumo012007, Length: 22, dtype: object

In [27]:
# Let's focus on one feature, and sample a Series object
hits = baseball_x.h
hits

womacto012006     14
schilcu012006      1
myersmi012006      0
helliri012006      0
johnsra052006      1
finlest012006    105
gonzalu012006    159
seleaa012006       5
...
cirilje012007     40
bondsba012007     94
biggicr012007    130
benitar012007      0
benitar012007      0
ausmubr012007     82
aloumo012007     112
alomasa022007      3
Name: h, Length: 100, dtype: int64

In [28]:
# Numpy-style indexing
hits[0]

14

In [29]:
# Numpy-style slice indexing
hits[:3]

womacto012006    14
schilcu012006     1
myersmi012006     0
Name: h, dtype: int64

In [30]:
# Indexing by label
hits[['womacto012006','schilcu012006']]

womacto012006    14
schilcu012006     1
Name: h, dtype: int64

We can also slice with data labels, since they have an intrinsic order within the Index:

In [31]:
hits.ix['womacto012006':'gonzalu012006']

womacto012006     14
schilcu012006      1
myersmi012006      0
helliri012006      0
johnsra052006      1
finlest012006    105
gonzalu012006    159
Name: h, dtype: int64

In a `DataFrame` we can slice along either or both axes:

In [ ]:
features = ['h','ab']
baseball_x[features]

The indexing field `ix` allows us to select subsets of rows and columns in an intuitive way:

In [32]:
baseball_x.ix['gonzalu012006', ['h','X2b', 'X3b', 'hr']]

h      159
X2b     52
X3b      2
hr      15
Name: gonzalu012006, dtype: object

In [37]:
baseball_x.ix[['gonzalu012006','finlest012006'], 5:8]

                 g   ab   r
gonzalu012006  153  586  93
finlest012006  139  426  66

[2 rows x 3 columns]

In [38]:
baseball_x.ix[:'myersmi012006', 'hr']

womacto012006    1
schilcu012006    0
myersmi012006    0
Name: hr, dtype: int64

![break](assets/voronoi.png)

### Classwork

* Create an index for the baseball data set which incoporates the team name.

![break](assets/code.png)

Let's look at the Pandas DataFrame [Cheatsheet](https://docs.google.com/a/type.hk/file/d/0ByIrJAE4KMTtTUtiVExiUGVkRkE/edit?usp=drive_web)

### Operations

`DataFrame` and `Series` objects allow for several operations to take place either on a single object, or between two or more objects.

For example, we can perform arithmetic on the elements of two objects, such as combining baseball statistics across years. Let's try and see which players appeared in both 2006 and 2007 seasons (in this limited dataset).

In [43]:
y2006 = baseball.year==2006

In [52]:
# use the baseball.year==2006 as a selection mask,
# xs to select one column
hr2006 = baseball[baseball.year==2006].xs('hr', axis=1)
# or
hr2006 = baseball[baseball.year==2006]['hr']

# by creating our own index so we can compare it with data from 2007
hr2006.index = baseball.player[baseball.year==2006]

# or all in one statement

hr2006 = pd.Series(baseball.hr[y2006].values, 
                   index=baseball.player[y2006])

hr2006

player
womacto01     1
schilcu01     0
myersmi01     0
helliri01     0
johnsra05     0
finlest01     6
gonzalu01    15
seleaa01      0
dtype: int64

In [47]:
y2007 = baseball.year==2007
hr2007 = baseball[y2007].xs('hr', axis=1)
hr2007.index = baseball.player[y2007]
hr2007

player
francju01     0
francju01     1
zaungr01     10
witasja01     0
williwo02     1
wickmbo01     0
wickmbo01     0
whitero02     4
...
cirilje01     2
bondsba01    28
biggicr01    10
benitar01     0
benitar01     0
ausmubr01     3
aloumo01     13
alomasa02     0
Name: hr, Length: 92, dtype: int64

In [49]:
# hr2006 = pd.Series(baseball.hr[baseball.year==2006].values, index=baseball.player[baseball.year==2006])
type(hr2006)

pandas.core.series.Series

In [50]:
hr_total = hr2006 + hr2007
hr_total

player
alomasa02   NaN
aloumo01    NaN
ausmubr01   NaN
benitar01   NaN
benitar01   NaN
biggicr01   NaN
bondsba01   NaN
cirilje01   NaN
...
whiteri01   NaN
whitero02   NaN
wickmbo01   NaN
wickmbo01   NaN
williwo02   NaN
witasja01   NaN
womacto01   NaN
zaungr01    NaN
Length: 94, dtype: float64

Pandas' data alignment places `NaN` values for labels that do not overlap in the two Series. In fact, there are only 6 players that occur in both years.

In [51]:
hr_total[hr_total.notnull()]

player
finlest01     7
gonzalu01    30
johnsra05     0
myersmi01     0
schilcu01     0
seleaa01      0
dtype: float64


While we do want the operation to honor the data labels in this way, we probably do not want the missing values to be filled with `NaN`. We can use the `add` method to calculate player home run totals by using the `fill_value` argument to insert a zero for home runs where labels do not overlap:

In [53]:
hr2007.add(hr2006, fill_value=0)

player
alomasa02     0
aloumo01     13
ausmubr01     3
benitar01     0
benitar01     0
biggicr01    10
bondsba01    28
cirilje01     0
...
whiteri01     0
whitero02     4
wickmbo01     0
wickmbo01     0
williwo02     1
witasja01     0
womacto01     1
zaungr01     10
Name: hr, Length: 94, dtype: float64

#### broadcasting

Operations can also be **broadcast** between rows or columns.

For example, if we subtract the maximum number of home runs hit from the `hr` column, we get how many fewer than the maximum were hit by each player:

In [54]:
baseball.hr - baseball.hr.max()

id
88641   -34
88643   -35
88645   -35
88649   -35
88650   -35
88652   -29
88653   -20
88662   -35
...
89502   -33
89521    -7
89523   -25
89525   -35
89526   -35
89530   -32
89533   -22
89534   -35
Name: hr, Length: 100, dtype: int64

Or, looking at things row-wise, we can see how a particular player compares with the rest of the group with respect to important statistics

In [56]:
baseball.sort('hr', ascending=False)

,player,year,stint,team,lg,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,,
89360,thomeji01,2007,1,CHA,AL,130,432,79,119,19,0,35,96,0,1,95,134,11,6,0,3,10
89462,griffke02,2007,1,CIN,NL,144,528,78,146,24,1,30,93,6,1,85,99,14,1,0,9,14
89521,bondsba01,2007,1,SFN,NL,126,340,75,94,14,0,28,66,5,0,132,54,43,3,0,2,13
89361,thomafr04,2007,1,TOR,AL,155,531,63,147,30,0,26,95,0,0,81,94,3,7,0,5,14
89378,sheffga01,2007,1,DET,AL,133,494,107,131,20,1,25,75,22,5,84,71,2,9,0,6,10
89489,delgaca01,2007,1,NYN,NL,139,538,71,139,30,0,24,87,4,0,52,118,8,11,0,6,12
89371,stairma01,2007,1,TOR,AL,125,357,58,103,28,1,21,64,2,1,44,66,5,2,0,2,7
89374,sosasa01,2007,1,TEX,AL,114,412,53,104,24,1,21,92,0,0,34,112,3,3,0,5,11
89396,ramirma02,2007,1,BOS,AL,133,483,84,143,33,1,20,88,0,0,71,92,13,7,0,8,21
89439,kentje01,2007,1,LAN,NL,136,494,78,149,36,1,20,79,1,3,57,61,4,5,0,6,17
88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,52,2,15,73,0,1,69,58,10,7,0,6,14
89466,gonzalu01,2007,1,LAN,NL,139,464,70,129,23,2,15,68,6,2,56,56,4,4,0,2,11
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,1,13,49,3,0,27,30,5,2,0,3,13
89481,edmonji01,2007,1,SLN,NL,117,365,39,92,15,2,12,53,0,2,41,75,2,0,2,3,9
89389,rodriiv01,2007,1,DET,AL,129,502,50,141,31,3,11,63,2,2,9,96,1,1,1,2,16
89523,biggicr01,2007,1,HOU,NL,141,517,68,130,31,3,10,50,4,3,23,112,0,3,7,5,5
89330,zaungr01,2007,1,TOR,AL,110,331,43,80,24,1,10,52,0,0,51,55,8,2,1,6,9
89463,greensh01,2007,1,NYN,NL,130,446,62,130,30,1,10,46,11,1,37,62,4,5,1,1,14
89482,easleda01,2007,1,NYN,NL,76,193,24,54,6,0,10,26,0,1,19,35,1,5,0,1,2
89464,graffto01,2007,1,MIL,NL,86,231,34,55,8,0,9,30,0,1,24,44,6,3,0,2,7
,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...

In [57]:
stats = baseball[['h','X2b', 'X3b', 'hr']]

In [58]:
baseball.ix[89360]["player"]
stats = baseball[['h','X2b', 'X3b', 'hr']]
diff = stats - stats.xs(89360)
diff[:10]

         h  X2b  X3b  hr
id
88641 -105  -18    0 -34
88643 -118  -19    0 -35
88645 -119  -19    0 -35
88649 -119  -19    0 -35
88650 -118  -19    0 -35
88652  -14    2   12 -29
88653   40   33    2 -20
88662 -114  -18    0 -35
89177 -109  -16    0 -35
89178 -109  -19    0 -34

[10 rows x 4 columns]

We can also apply functions to each column or row of a `DataFrame`

![break](assets/voronoi.png)

### Classwork

Lets use `apply` to calculate a meaningful baseball statistics, slugging percentage:

$$SLG = \frac{1B + (2 \times 2B) + (3 \times 3B) + (4 \times HR)}{AB}$$

In [80]:
slg = lambda x: (x['h']-x['X2b']-x['X3b']-x['hr'] + 2*x['X2b'] + 3*x['X3b'] + 4*x['hr'])/(x['ab']+1e-6)
p3d = lambda x: '%.3f' % x

id
88641    0.360
88643    0.500
88645    0.000
88649    0.000
88650    0.167
88652    0.394
88653    0.444
88662    0.231
...
89502    0.386
89521    0.565
89523    0.381
89525    0.000
89526    0.000
89530    0.324
89533    0.524
89534    0.182
Name: SLG, Length: 100, dtype: object

And just for fun, we will format the resulting estimate. to have 3 decimals of precision, append another apply to your function, i.e.
`.apply(lambda x: '%.3f' % x)`

**Tip:** apply takes an 'axis' parameter which allows you to specify whether the application is row- or column-wise.

![break](assets/code.png)

### Sorting and Ranking

Pandas objects include methods for re-ordering data.

In [78]:
baseball.apply?

In [ ]:
baseball_x.sort_index().head()

In [ ]:
baseball_x.sort_index(ascending=False).head()

In [ ]:
baseball_x.sort_index(axis=1).head()

We can also use `order` to sort a `Series` by value, rather than by label.

In [ ]:
baseball.hr.order(ascending=False)

For a `DataFrame`, we can sort according to the values of one or more columns using the `by` argument of `sort_index`:

In [ ]:
baseball[['player','sb','cs']].sort_index(ascending=[False,True], by=['sb', 'cs']).head(10)

#### Ranking

**Ranking** does not re-arrange data, but instead returns an index that ranks each value relative to others in the Series.

In [ ]:
baseball.hr.rank()

Ties are assigned the mean value of the tied ranks, which may result in decimal values.

In [ ]:
pd.Series([100,100]).rank()

Alternatively, you can break ties via one of several methods, such as by the order in which they occur in the dataset:

In [ ]:
baseball.hr.rank(method='first')

Calling the `DataFrame`'s `rank` method results in the ranks of all columns:

In [ ]:
baseball.rank(ascending=False).head()

In [ ]:
baseball[['r','h','hr']].rank(ascending=False).head()

### Missing data

The occurence of missing data is so prevalent that it pays to use tools like Pandas, which seamlessly integrates missing data handling so that it can be dealt with easily, and in the manner required by the analysis at hand.

Missing data are represented in `Series` and `DataFrame` objects by the `NaN` floating point value. However, `None` is also treated as missing, since it is commonly used as such in other contexts (*e.g.* NumPy).

In [ ]:
foo = pd.Series([np.nan, -3, None, 'foobar'])
foo

In [ ]:
foo.isnull()

Missing values may be dropped or indexed out:

In [ ]:
data = pd.DataFrame({'value':[632, 1638, 569, 115, None, 1130, 754, 555],
                     'patient':[1, 1, np.nan, 1, 2, 2, 2, 2],
                     'treatment' : [0,0,0,0,1,1,np.nan,np.nan],
                     'phylum':['Firmicutes', 'Proteobacteria', 'Actinobacteria', 
    'Bacteroidetes', 'Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes']})
data['year'] = 2013
data

In [ ]:
data.dropna()

In [ ]:
data[data['patient'].notnull()]

By default, `dropna` drops entire rows in which one or more values are missing. This can be overridden by passing the `how='all'` argument, which only drops a row when every field is a missing value.

In [ ]:
data.dropna(how='all')

This can be customized further by specifying how many values need to be present before a row is dropped via the `thresh` argument.

In [ ]:
data.ix[7, 'year'] = np.nan
data

In [ ]:
data.dropna(thresh=4)

This is typically used in time series applications, where there are repeated measurements that are incomplete for some subjects.

If we want to drop missing values column-wise instead of row-wise, we use `axis=1`.

In [ ]:
data.dropna(axis=1)

Rather than omitting missing data from an analysis, in some cases it may be suitable to fill the missing value in, either with a default value (such as zero) or a value that is either imputed or carried forward/backward from similar data points. We can do this programmatically in Pandas with the `fillna` argument.

In [ ]:
data.fillna(0)

In [ ]:
data.fillna({'patient': 0, 'year': 2013, 'treatment':2})

Notice that `fillna` by default returns a new object with the desired filling behavior, rather than changing the `Series` or  `DataFrame` in place (**in general, we like to do this, by the way!**).

Missing values can also be interpolated, using any one of a variety of methods:

In [ ]:
data['patient'] = data['patient'].fillna(method='bfill')
data

In [ ]:
data['patient'] = data['patient'].fillna

In [ ]:
data['value'] = data['value'].fillna(data['value'].mean())
data

### Merging and joining DataFrame objects

In this section, we will manipulate data collected from ocean-going vessels on the eastern seaboard. Vessel operations are monitored using the Automatic Identification System (AIS), a safety at sea navigation technology which vessels are required to maintain and that uses transponders to transmit very high frequency (VHF) radio signals containing static information including ship name, call sign, and country of origin, as well as dynamic information unique to a particular voyage such as vessel location, heading, and speed. 

The International Maritime Organization’s (IMO) International Convention for the Safety of Life at Sea requires functioning AIS capabilities on all vessels 300 gross tons or greater and the US Coast Guard requires AIS on nearly all vessels sailing in U.S. waters. The Coast Guard has established a national network of AIS receivers that provides coverage of nearly all U.S. waters. AIS signals are transmitted several times each minute and the network is capable of handling thousands of reports per minute and updates as often as every two seconds. Therefore, a typical voyage in our study might include the transmission of hundreds or thousands of AIS encoded signals. This provides a rich source of spatial data that includes both spatial and temporal information.

For our purposes, we will use summarized data that describes the transit of a given vessel through a particular administrative area. The data includes the start and end time of the transit segment, as well as information about the speed of the vessel, how far it travelled, etc.

In [ ]:
!curl https://raw.githubusercontent.com/fonnesbeck/pytenn2014_tutorial/master/data/AIS/transit_segments.csv > ../data/transit_segments.csv
segments = pd.read_csv(DATA_DIR + 'transit_segments.csv')

In [ ]:
segments.head()

In addition to the behavior of each vessel, we may want a little more information regarding the vessels themselves. In the `data/AIS` folder there is a second table that contains information about each of the ships that traveled the segments in the `segments` table.

In [ ]:
!curl https://raw.githubusercontent.com/fonnesbeck/pytenn2014_tutorial/master/data/AIS/vessel_information.csv > ../data/vessel_information.csv
vessels = pd.read_csv(DATA_DIR + "vessel_information.csv", index_col='mmsi')

In [ ]:
vessels.head()

In [ ]:
vessels.type.value_counts()

The challenge, however, is that several ships have travelled multiple segments, so there is not a one-to-one relationship between the rows of the two tables. The table of vessel information has a *one-to-many* relationship with the segments.

In Pandas, we can combine tables according to the value of one or more *keys* that are used to identify rows, much like an index. Using a trivial example:

In [ ]:
df1 = pd.DataFrame(dict(id=range(4), age=np.random.randint(18, 31, size=4)))
df2 = pd.DataFrame(dict(id=range(3)+range(3), score=np.random.random(size=6)))

In [ ]:
print df1.describe()
print df2.describe()

In [ ]:
pd.merge(df1, df2)

Notice that without any information about which column to use as a key, Pandas did the right thing and used the `id` column in both tables. Unless specified otherwise, `merge` will used any common column names as keys for merging the tables. 

Notice also that `id=3` from `df1` was omitted from the merged table. This is because, by default, `merge` performs an **inner join** on the tables, meaning that the merged table represents an intersection of the two tables.

In [83]:
pd.merge?
pd.merge(df1, df2, how='outer')

NameError: name 'df1' is not defined

The **outer join** above yields the union of the two tables, so all rows are represented, with missing values inserted as appropriate. One can also perform **right** and **left** joins to include all rows of the right or left table (*i.e.* first or second argument to `merge`), but not necessarily the other.

Looking at the two datasets that we wish to merge:

In [ ]:
segments.head(1)

In [ ]:
vessels.head(1)

we see that there is a `mmsi` value (a vessel identifier) in each table, but it is used as an index for the `vessels` table. In this case, we have to specify to join on the index for this table, and on the `mmsi` column for the other.

In [ ]:
segments_m = pd.merge(vessels, segments, left_index=True, right_on='mmsi')
segments_m

In [ ]:
segments_m.head()

In this case, the default inner join is suitable; we are not interested in observations from either table that do not have corresponding entries in the other. 

Notice that `mmsi` field that was an index on the `vessels` table is no longer an index on the merged table.

Here, we used the `merge` function to perform the merge; we could also have used the `merge` method for either of the tables:

In [ ]:
vessels.merge(segments, left_index=True, right_on='mmsi').head()

Occasionally, there will be fields with the same in both tables that we do not wish to use to join the tables; they may contain different information, despite having the same name. In this case, Pandas will by default append suffixes `_x` and `_y` to the columns to uniquely identify them.

In [ ]:
segments['type'] = 'foo'
pd.merge(vessels, segments, left_index=True, right_on='mmsi').head()

This behavior can be overridden by specifying a `suffixes` argument, containing a list of the suffixes to be used for the columns of the left and right columns, respectively.

### Concatenation

A common data manipulation is appending rows or columns to a dataset that already conform to the dimensions of the exsiting rows or colums, respectively. In NumPy, this is done either with concatenate or the convenience functions c_ and r_:

In [ ]:
np.concatenate([np.random.random(5), np.random.random(5)])

In [ ]:
np.r_[np.random.random(5), np.random.random(5)]

In [ ]:
np.c_[np.random.random(5), np.random.random(5)]

This operation is also called **binding** or **stacking**.

With Pandas' indexed data structures, there are additional considerations as the overlap in index values between two data structures affects how they are concatenate.

Lets import two microbiome datasets, each consisting of counts of microorganiams from a particular patient. We will use the first column of each dataset as the index.

In [ ]:
!curl https://raw.githubusercontent.com/fonnesbeck/pytenn2014_tutorial/master/data/microbiome/MID1.xls > ../data/MID1.xls
mb1 = pd.read_excel(DATA_DIR + 'MID1.xls', 'Sheet 1', index_col=0, header=None)

In [ ]:
!curl https://raw.githubusercontent.com/fonnesbeck/pytenn2014_tutorial/master/data/microbiome/MID2.xls > ../data/MID2.xls
mb2 = pd.read_excel(DATA_DIR + 'MID2.xls', 'Sheet 1', index_col=0, header=None)

In [ ]:
mb1.shape, mb2.shape

In [ ]:
mb1.head()

In [ ]:
mb1.columns = mb2.columns = ['Count']

In [ ]:
mb1.index.name = mb2.index.name = 'Taxon'

In [ ]:
mb1.head()

The index of these data is the unique biological classification of each organism, beginning with domain, phylum, class, and for some organisms, going all the way down to the genus level.

![](http://4.bp.blogspot.com/-mxgTyt7mjqk/T727bsIiomI/AAAAAAAAAKU/Z89lPUkhPfU/s1600/200px-Biological_classification_L_Pengo_vflip.svg.png)

In [ ]:
mb1.index[:3]

In [ ]:
mb1.index.is_unique

In [ ]:
pd.concat([mb1, mb2], axis=0).shape

However, the index is no longer unique, due to overlap between the two DataFrames.

In [ ]:
pd.concat([mb1, mb2], axis=0).index.is_unique

In [ ]:
pd.concat([mb1, mb2], axis=1).shape

In [ ]:
pd.concat([mb1, mb2], axis=1).head()

In [ ]:
pd.concat([mb1, mb2], axis=1).values[:5]

If we are only interested in taxa that are included in both DataFrames, we can specify a join=inner argument.

In [ ]:
pd.concat([mb1, mb2], axis=1, join='inner').head()

In [ ]:
mb1.combine_first(mb2).head()

Alternatively, you can pass keys to the concatenation by supplying the DataFrames (or Series) as a dict.

In [ ]:
pd.concat(dict(patient1=mb1, patient2=mb2), axis=1).head()

If you want concat to work like numpy.concatanate, you may provide the ignore_index=True argument.

### Reshaping DataFrame objects

In the context of a single DataFrame, we are often interested in re-arranging the layout of our data. 

This dataset in from Table 6.9 of [Statistical Methods for the Analysis of Repeated Measurements](http://www.amazon.com/Statistical-Methods-Analysis-Repeated-Measurements/dp/0387953701) by Charles S. Davis, pp. 161-163 (Springer, 2002). These data are from a multicenter, randomized controlled trial of botulinum toxin type B (BotB) in patients with cervical dystonia from nine U.S. sites.

* Randomized to placebo (N=36), 5000 units of BotB (N=36), 10,000 units of BotB (N=37)
* Response variable: total score on Toronto Western Spasmodic Torticollis Rating Scale (TWSTRS), measuring severity, pain, and disability of cervical dystonia (high scores mean more impairment)
* TWSTRS measured at baseline (week 0) and weeks 2, 4, 8, 12, 16 after treatment began

In [ ]:
!curl https://raw.githubusercontent.com/fonnesbeck/pytenn2014_tutorial/master/data/cdystonia.csv > ../data/cdystonia.csv
cdystonia = pd.read_csv("../data/cdystonia.csv", index_col=None)

In [ ]:
cdystonia.head()

This dataset includes repeated measurements of the same individuals (longitudinal data). Its possible to present such information in (at least) two ways: showing each repeated measurement in their own row, or in multiple columns representing mutliple measurements.

The `stack` method rotates the data frame so that columns are represented in rows:

In [ ]:
stacked = cdystonia.stack()
stacked

To complement this, `unstack` pivots from rows back to columns.

In [ ]:
stacked.unstack().head()

For this dataset, it makes sense to create a hierarchical index based on the patient and observation:

In [ ]:
cdystonia2 = cdystonia.set_index(['patient','obs'])
cdystonia2.head()

In [ ]:
cdystonia2.index.is_unique

If we want to transform this data so that repeated measurements are in columns, we can `unstack` the `twstrs` measurements according to `obs`.

In [ ]:
twstrs_wide = cdystonia2['twstrs'].unstack('obs')
twstrs_wide.head()

In [ ]:
cdystonia_long = cdystonia[['patient','site','id','treat','age','sex']].drop_duplicates().merge(
                    twstrs_wide, right_index=True, left_on='patient', how='inner').head()
cdystonia_long

A slightly cleaner way of doing this is to set the patient-level information as an index before unstacking:

In [ ]:
cdystonia.set_index(['patient','site','id','treat','age','sex','week'])['twstrs'].unstack('week').head()

To convert our "wide" format back to long, we can use the `melt` function, appropriately parameterized:

In [ ]:
pd.melt(cdystonia_long, id_vars=['patient','site','id','treat','age','sex'], 
        var_name='obs', value_name='twsters').head()

This illustrates the two formats for longitudinal data: **long** and **wide** formats. Its typically better to store data in long format because additional data can be included as additional rows in the database, while wide format requires that the entire database schema be altered by adding columns to every row as data are collected.

The preferable format for analysis depends entirely on what is planned for the data, so it is imporant to be able to move easily between them.

### Data transformation

There are a slew of additional operations for DataFrames that we would collectively refer to as "transformations" that include tasks such as removing duplicate values, replacing values, and grouping values.

#### Dealing with duplicates

We can easily identify and remove duplicate values from `DataFrame` objects. For example, say we want to removed ships from our `vessels` dataset that have the same name:

In [ ]:
vessels.duplicated(cols='names')

In [ ]:
vessels.drop_duplicates(['names'])

#### Value Replacement

Frequently, we get data columns that are encoded as strings that we wish to represent numerically for the purposes of including it in a quantitative analysis. For example, consider the treatment variable in the cervical dystonia dataset:

In [ ]:
cdystonia.treat.value_counts()

A logical way to specify these numerically is to change them to integer values, perhaps using "Placebo" as a baseline value. If we create a dict with the original values as keys and the replacements as values, we can pass it to the `map` method to implement the changes.

In [ ]:
treatment_map = {'Placebo': 0, '5000U': 1, '10000U': 2}

In [ ]:
cdystonia['treatment'] = cdystonia.treat.map(treatment_map)
cdystonia.treatment

Alternately, if we simply want to replace particular values in a `Series` or `DataFrame`, we can use the `replace` method.

In [ ]:
cdystonia2.treat.replace({'Placebo': 0, '5000U': 1, '10000U': 2})

### Data aggregation and GroupBy operations

For aggregation tasks, the `groupby` function is the most useful method in pandas. When performing a `groupby` operation, we may different goals:

* Perform an **aggregation**, like computing the sum of mean of each group. Functionally this means applying a function to each group and putting the aggregated results into a DataFrame
* **Slicing** the DataFrame into chunks (groups) and then doing something with the slices
* Performing a **transformation**, like standardizing each group (computing the zscore)

So there are two tasks: first, grouping the data; second, doing something with the grouped data. As far as grouping

In [ ]:
cdystonia_grouped = cdystonia.groupby(cdystonia.patient)
cdystonia_grouped

This returns an object of type GroupBy - making it hard to visualise. However, the grouping is only an intermediate step; for example, we may want to **iterate** over each of the patient groups:With this object. You can do a lot of things including: **iteration**, **aggregation**, or **transformation**. So we could iterate like so:

#### Iteration

In [ ]:
for patient, group in cdystonia_grouped:
    print patient
    print group
    print

A common data analysis procedure is the **split-apply-combine** operation, which groups subsets of data together, applies a function to each of the groups, then recombines them into a new data table.

For example, we may want to aggregate our data with with some function.

![split-apply-combine](http://f.cl.ly/items/0s0Z252j0X0c3k3P1M47/Screen%20Shot%202013-06-02%20at%203.04.04%20PM.png)

<div align="right">*(Source: "Python for Data Analysis", p.251)*</div>

#### Aggregation

We can aggregate in Pandas using the `aggregate` (or `agg`, for short) method:mm

In [ ]:
cdystonia_grouped.agg(np.mean).head()

Notice that the `treat` and `sex` variables are not included in the aggregation. Since it does not make sense to aggregate non-string variables, these columns are simply ignored by the method.

Some aggregation functions are so common that Pandas has a convenience method for them, such as `mean`:

In [ ]:
cdystonia_grouped.mean().head()

The `add_prefix` and `add_suffix` methods can be used to give the columns of the resulting table labels that reflect the transformation:

In [ ]:
cdystonia_grouped.mean().add_suffix('_mean').head()

In [ ]:
# The median of the `twstrs` variable
cdystonia_grouped['twstrs'].quantile(0.5)

If we wish, we can easily aggregate according to multiple keys:

In [ ]:
cdystonia.groupby(['week','site']).mean().head()

#### Transform

Alternately, we can **transform** the data, using a function of our choice with the `transform` method:

In [ ]:
normalize = lambda x: (x - x.mean())/x.std()

cdystonia_grouped.transform(normalize).head()

It is easy to do column selection within `groupby` operations, if we are only interested split-apply-combine operations on a subset of columns:

In [ ]:
cdystonia_grouped['twstrs'].mean().head()

If you simply want to divide your DataFrame into chunks for later use, its easy to convert them into a dict so that they can be easily indexed out as needed:

In [ ]:
chunks = dict(list(cdystonia_grouped))
chunks[4]

By default, `groupby` groups by row, but we can specify the `axis` argument to change this. For example, we can group our columns by type this way:

In [ ]:
dict(list(cdystonia.groupby(cdystonia.dtypes, axis=1)))

#### Apply

We can generalize the split-apply-combine methodology by using `apply` function. This allows us to invoke any function we wish on a grouped dataset and recombine them into a DataFrame.

The function below takes a DataFrame and a column name, sorts by the column, and takes the `n` largest values of that column. We can use this with `apply` to return the largest values from every group in a DataFrame in a single call.

In [ ]:
def top(df, column, n=5):
    return df.sort_index(by=column, ascending=False)[:n]

To see this in action, consider the vessel transit segments dataset (which we merged with the vessel information to yield `segments_merged`). Say we wanted to return the 3 longest segments travelled by each ship:

In [ ]:
top3segments = segments_m.groupby('mmsi').apply(top, column='seg_length', n=3)[['names', 'seg_length']]
top3segments

Notice that additional arguments for the applied function can be passed via `apply` after the function name. It assumes that the DataFrame is the first argument.

In [ ]:
top3segments.head(20)

![break](assets/resources.png)

This section is based off of the following resources 
* [Group By: split-apply-combine](http://pandas.pydata.org/pandas-docs/version/0.13.1/groupby.html)
* [GroupBy-fu: improvements in grouping and aggregating data in pandas](http://wesmckinney.com/blog/?p=125)
* [Data Wrangling with Pandas](http://nbviewer.ipython.org/urls/gist.github.com/fonnesbeck/5850413/raw/3a9406c73365480bc58d5e75bc80f7962243ba17/2.+Data+Wrangling+with+Pandas.ipynb)